/*SECTION_2////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*FONTS///////////////////////////////////////////////////////////////////////////////////////////*/
#_H1 {
    margin-bottom: 0px;
}


#_H1_2 {
    margin-bottom: 0px;
}


#_H2 {
    margin-bottom: 0px;
}


#_H3 {
    margin-bottom: 0px;
}

#_H4 {
    margin-bottom: 0px;
}


#_H5 {
    margin-bottom: -2.5px;
}


#TEXT_OUTLINE {
    -webkit-text-stroke: 1.85px rgb(120, 120, 120);
}

/*FONTS///////////////////////////////////////////////////////////////////////////////////////////*/











/*ALL///////////////////////////////////////////////////////////////////////////////////////////*/
.center_holder {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 0;
    overflow-x: hidden;
}


#SHADOW_SECTION_BLOG {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(23, 23, 23);
    z-index: 1;
    top: 0px;
    left: 0;
    overflow-x: hidden;
}

/*SECTION_1///////////////////////////////////////////////////////////////////////////////////////////*/
.grid_0_subscribe {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 230px auto 20px;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas: ". . . . . . ."
        ". . . SUB . . ."
        ". . . . . . .";
}

.sub_head {
    position: relative;
    grid-area: SUB;
    display: grid;
    width: 100%;
    height: auto;
    grid-column-gap: 40px;
    grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "BC BC BC BC BC BC . . . . . . . .";
    left: 0;
}

#SUBSCRIBE {
    position: relative;
    grid-area: BC;
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 180px;
    grid-template-rows: auto auto auto 60px;
    grid-template-areas:
        "ICON . "
        "TAG_MAIN TAG_MAIN"
        "SUB_MAIN SUB_MAIN"
        "FORM FORM";
}

#SUB_ICON {
    grid-area: ICON;
}

#MAIN_TAG {
    grid-area: TAG_MAIN;
}

#SUB_TAG {
    grid-area: SUB_MAIN;
}

/*SECTION_1///////////////////////////////////////////////////////////////////////////////////////////*/




























/*BREAKPOINT_1////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*ALL///////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 960px) and (max-width: 1280px) {


    #SHADOW_SECTION_BLOG {
        position: relative;
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: rgb(23, 23, 23);
        z-index: 1;
        top: 0px;
        left: 0;
    }




    /*SECTION_1///////////////////////////////////////////////////////////////////////////////////////////*/
    .grid_0_subscribe {
        position: relative;
        width: 100%;
        max-width: 1520px;
        background-color: transparent;
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        grid-template-rows: 170px auto 20px;
        grid-template-columns: 40px 120px 1fr 120px 40px;
        grid-template-areas: ". . . . ."
            ". SUB SUB SUB ."
            ". . . . .";
    }

    .sub_head {
        position: relative;
        grid-area: SUB;
        display: grid;
        width: 100%;
        height: auto;
        grid-column-gap: 40px;
        grid-template-columns: 180px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "BC BC BC BC BC BC . . . . . . . .";
        left: 0;
    }


}

/*SECTION_11////ASTRONAUT///////////////////////////////////////////////////////////////////////////////*/
/*BREAKPOINT_2////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

























/*BREAKPOINT_3////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/
#_H1 {
    margin-bottom: 0px;
    font-size: 40px;
}

#_H2 {
    margin-bottom: 0px;
    font-size: 30px;
}

#_H3 {
    margin-bottom: 0px;
}

#_H4 {
    margin-bottom: 0px;
}

#_H5 {
    margin-bottom: -2.5px;
}

/*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/


/*ALL/////////////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 480px) and (max-width: 960px) {




    /*SECTION_1///////////////////////////////////////////////////////////////////////////////////////////*/
    .grid_0_subscribe {
        position: relative;
        width: 100%;
        max-width: 1520px;
        background-color: transparent;
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        grid-template-rows: 170px auto 20px;
        grid-template-columns: 30px 120px 1fr 120px 40px;
        grid-template-areas: ". . . . ."
            ". SUB SUB SUB ."
            ". . . . .";
    }

    .sub_head {
        position: relative;
        grid-area: SUB;
        display: grid;
        width: 100%;
        height: auto;
        grid-column-gap: 40px;
        grid-template-columns: 180px 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "BC BC BC BC";
        left: 0;
    }


    /*SECTION_7////ABOUT////////////////////////////////////////////////////////////////////////////////////*/
    .main {
        position: relative;
        grid-area: MAIN-AREA;
        display: grid;
        width: 100%;
        top: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 60px;
        grid-template-areas:
            "ABOUT"
            "INTRO"
            "WHO_WE_WORK_WITH"
            "TESTIMONIAL";
    }
}























@media all and (min-width: 0px) and (max-width: 480px) {


    /*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/
    #_H1 {
        margin-bottom: 0px;
        font-size: 20px;
    }

    #_H1_2 {
        margin-bottom: 0px;
        font-size: 26.5px;
        line-height: 32.5px;
    }


    #_H2 {
        margin-bottom: 0px;
        font-size: 30px;
    }

    #_H3 {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 19.5px;
    }

    #_H4 {
        margin-bottom: 0px;
    }


    #_H5 {
        margin-bottom: -2.5px;
    }

    #TEXT_OUTLINE {
        -webkit-text-stroke: 1px rgb(120, 120, 120);
        margin-bottom: 0px;
        font-size: 20px;
        line-height: 32.5px;
    }

    /*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/




    /*SECTION_1/////////////////////////////////////////////////////////////////////////////////////////////*/
    .grid_0_subscribe {
        position: relative;
        width: 100%;
        max-width: 100%;
        background-color: transparent;
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        grid-template-rows: 130px auto 0px;
        grid-template-columns: 20px 1fr 20px;
        grid-template-areas: ". . ."
            ". SUB ."
            ". . .";
    }




    .sub_head {
        position: relative;
        grid-area: SUB;
        display: grid;
        width: 100%;
        height: auto;
        grid-column-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "BC";
        left: 0;
    }


    #SUBSCRIBE {
        position: relative;
        grid-area: BC;
        width: 100%;
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "ICON ICON"
            "TAG_MAIN TAG_MAIN"
            "SUB_MAIN SUB_MAIN"
            "FORM FORM";
    }

}